html {
	scroll-behavior: smooth;
	scroll-padding-top: 65px;
}

.in-me,
.navbar li {
	position: relative;
	padding: 0;
}
.in-me a::after,
.navbar li::after {
	content: "";
	height: 2px;
	width: 100%;
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.15s ease;
}

.in-me a:hover::after,
.navbar li:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scale {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes izq-der {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes der-izq {
	0% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes derben {
	0% {
		transform: rotateY(180deg);
		background-image: url(/img/logo/logo-con-fondo.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	1.% {
		background-image: url(/img/logo/logo-con-fondo.png);
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
	}

	100% {
		transform: rotateY(360deg);
		background: #d8d9da;
	}
}
