@media (max-width: 1400px) {
	header {
		width: 100vw;
	}
	body {
		width: 100%;
	}

	.navbar {
		display: flex;
		margin-right: 40px;
	}
	.muestras {
		display: flex;
		justify-content: center;
		gap: 25px;
	}
	.casamiento-container img:nth-child(2) {
		width: 330px;
	}

	.casamiento-container img:nth-child(1) {
		display: none;
	}
	.casamiento-container img:nth-child(4) {
		display: none;
	}
	.book-container img:nth-child(1) {
		display: none;
	}
	.book-container img:nth-child(5) {
		width: 300px;
	}
	.book-container img:nth-child(6) {
		display: none;
	}
	.fest-container img:nth-child(6) {
		display: none;
	}
	.fest-container img:nth-child(1) {
		display: none;
	}
}
@media (max-width: 992px) {
	header {
		width: 100vw;
	}
	body {
		width: 100vw;
	}
	footer {
		width: 100vw;
	}
	main {
		width: 100vw;
	}
	#hero {
		width: 80%;
		display: flex;
		justify-content: space-around;
	}
	.info {
		width: 40%;
	}
	.perfil img {
		width: 100%;
	}
	#trabajos {
		margin-bottom: 1200px;
	}
	.muestras {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
		height: auto;
	}

	.container {
		width: 400px;
		height: 500px;
	}

	.navbarlab {
		display: flex;
		font-size: 30px;
		color: white;
		padding-left: 20px;
	}
	#toggle-menu {
		display: none;
	}
	.navbar {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			342deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(27, 40, 154, 1) 46%,
			rgba(14, 21, 47, 1) 100%
		);
		width: 30%;
		height: 100vh;
		position: absolute;
		top: 60px;
		display: none;
	}
	.navbar ul {
		display: flex;
		flex-direction: column;
		position: none;
	}
	#toggle-menu:checked ~ .navbar {
		display: flex;
	}

	.muestras {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	.im-me {
		position: relative;
		display: flex;
		flex-direction: column;
		background: none;
		padding: 20px;
		display: none;
		top: -80px;
	}
	.im-me a {
		color: white;
		text-decoration: none;
	}

	#image-menu {
		display: none;
	}
	#image-menu:checked ~ .im-me {
		display: flex;
	}
	.navbar li:nth-child(8) {
		color: black;
	}

	#casamiento,
	#book15,
	#fest {
		width: 80vw;
	}
	.casamiento-container img:nth-child(2) {
		height: 300px;
		width: 250px;
	}
	.casamiento-container img:nth-child(3) {
		height: 300px;
		width: 350px;
	}
	.casamiento-container img:nth-child(5) {
		height: 300px;
		width: 350px;
	}
	.casamiento-container img:nth-child(6) {
		height: 300px;
		width: 250px;
	}

	.book-container img:nth-child(4) {
		display: none;
	}

	.fest-container img:nth-child(1) {
		height: 300px;
		width: 200px;
	}
	.fest-container img:nth-child(2) {
		height: 300px;
		width: 450px;
	}
	.book-container img:nth-child(4) {
		display: flex;
		height: 300px;
		width: 250px;
	}
	.book-container img:nth-child(5) {
		height: 300px;
		width: 250px;
	}

	.fest-container img:nth-child(2) {
		height: 300px;
		width: 380px;
	}
	.fest-container img:nth-child(3) {
		height: 300px;
		width: 250px;
	}
	.fest-container img:nth-child(4) {
		height: 300px;
		width: 250px;
	}
	.fest-container img:nth-child(5) {
		height: 300px;
		width: 300px;
	}
	.con-b {
		width: 80%;
		margin-bottom: 230px;
	}
	.ben1 {
		left: 0px;
		top: 80px;
	}
	.ben2 {
		left: 180px;
	}
	.ben4 {
		left: 10px;
		top: 300px;
	}
	.ben6 {
		left: 170px;
	}
	.ben3 {
		left: 5px;
		top: 450px;
	}
	.ben5 {
		left: 200px;
		top: 500px;
	}
}

@media (max-width: 825px) {
	#hero {
		flex-direction: column;
	}
	.info {
		width: 100%;
	}
	.muestras {
		display: flex;
		justify-content: center;
		gap: 25px;
	}
	.casamiento-container img:nth-child(2) {
		height: 350px;
		width: 300px;
	}
	.casamiento-container img:nth-child(3) {
		height: 300px;
		width: 400px;
	}
	.casamiento-container img:nth-child(5) {
		height: 300px;
		width: 400px;
	}
	.casamiento-container img:nth-child(6) {
		height: 370px;
		width: 350px;
	}

	.book-container img:nth-child(4) {
		display: none;
	}

	.book-container img:nth-child(4) {
		display: flex;
		height: 350px;
		width: 300px;
	}
	.book-container img:nth-child(5) {
		height: 350px;
		width: 300px;
	}

	.fest-container img:nth-child(2) {
		height: 300px;
		width: 380px;
	}
	.fest-container img:nth-child(3) {
		height: 350px;
		width: 300px;
	}
	.fest-container img:nth-child(4) {
		height: 350px;
		width: 350px;
	}
	.fest-container img:nth-child(5) {
		height: 375px;
		width: 350px;
	}
	.con-b {
		width: 80%;
		margin-bottom: 230px;
	}

	.ben1 {
		left: -80px;
		top: 80px;
	}
	.ben2 {
		left: 150px;
	}
	.ben4 {
		left: -70px;
		top: 300px;
	}
	.ben6 {
		left: 160px;
	}
	.ben3 {
		left: -90px;
		top: 500px;
	}
	.ben5 {
		left: 150px;
		top: 500px;
	}
}
@media (max-width: 576px) {
	header {
		width: 100vw;
	}
	body {
		width: 100vw;
	}
	footer {
		width: 100vw;
	}
	main {
		width: 100vw;
	}
	.navbarlab {
		display: flex;
		font-size: 30px;
		color: white;
		padding-left: 20px;
	}
	#toggle-menu {
		display: none;
	}
	.navbar {
		background: rgb(255, 255, 255);
		background: linear-gradient(
			342deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(27, 40, 154, 1) 46%,
			rgba(14, 21, 47, 1) 100%
		);
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 50px;
		display: none;
	}
	.navbar ul {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: none;
	}
	#toggle-menu:checked ~ .navbar {
		display: flex;
	}
	.container {
		width: 300px;
		height: 300px;
	}
	.benefe .container-ben {
		width: 50%;
		height: 220px;
	}
	.container-ben:hover p {
		text-align: justify;
		font-size: 17px;

		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 70px;
	}
	.con-b {
		width: 70%;
		margin-bottom: 230px;
	}
	.con-b h1 {
		font-size: 18px;
	}

	.ben1 {
		left: -120px;
		top: 40px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.ben2 {
		left: 60px;
		top: 50px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.ben4 {
		left: -115px;
		top: 200px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.ben6 {
		top: 210px;
		left: 70px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.ben3 {
		left: -110px;
		top: 350px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.ben5 {
		left: 60px;
		top: 360px;
		height: 200px;
		width: 200px;
		overflow: scroll;
		scroll-behavior: none;
	}
	.contacto {
		display: flex;
		flex-direction: column;
		width: 100vh;
	}
	.contactame {
		width: 100vw;
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.datos {
		margin-top: -5px;
		padding: 0px;
		width: 100vw;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: flex;
	}
}
