* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-width: 992px;
	background-color: rgb(253, 252, 238);
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 25px;
	align-items: center;
}

header {
	min-width: 992px;
	height: 60px;
	background: rgb(1, 1, 52);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	height: 80%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar ul {
	display: flex;
	gap: 40px;
	color: white;
	list-style: none;
	font-size: 20px;
	position: relative;
}

.navbar li {
	display: flex;
	cursor: pointer;
}
.navbar a {
	color: white;
}
.image-label {
	color: white;
	cursor: pointer;
}

.im-me {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 10px;
	background: rgb(1, 1, 52);
	padding: 20px;
	display: none;
}
.im-me a {
	color: white;
	text-decoration: none;
}

#image-menu {
	display: none;
}
#image-menu:checked ~ .im-me {
	display: flex;
}
#login {
	height: 100vh;
	width: 100%;
	background-image: url(/img/Diseño\ sin\ título.png);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.login-container {
	background: linear-gradient(0deg, #4a4a4a 0%, rgba(56, 55, 57, 0.5) 100%);
	border: 1px solid #0000004b;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	width: 30%;
	height: 50%;
	border-radius: 1.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-send {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.login-send label:nth-child(3) {
	display: flex;
	font-size: 15px;
}

.login-container a:nth-child(4) {
	text-decoration: none;
	color: rgb(29, 29, 29);
}

.login-container h1 {
	color: white;
}

.login-container a:nth-child(1) {
	text-decoration: none;
	color: rgb(29, 29, 29);
	font-size: 15px;
	margin: 20px 0;
}
#email {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 200px;
	border: none;
	background: none;
}
#email::placeholder {
	color: rgb(151, 151, 151);
}
#pass {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-top: 10px;
	background: none;
	border: none;
}

#pass::placeholder {
	color: rgb(151, 151, 151);
	/* content: "";
   background: white;
   top: -10px; */
	/* height: 0.1px; */
}

.login-container button {
	width: 150px;
	height: 30px;
	border: 1px solid black;
	border-radius: 1.2rem;
	background: linear-gradient();
}
.fondo {
	height: 100%;
	width: 100%;
}

.volver {
	position: absolute;
	left: 33%;
	top: 62%;
	font-size: 40px;
	background-color: rgb(155, 155, 169);
	height: 60px;
	width: 60px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	border: 2px solid white;
}
#hero {
	display: flex;
	width: 70%;
	gap: 200px;
	margin: 50px 0;
}

.info {
	font-size: 20px;
	text-align: justify;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 45px;
}

.info i {
	font-size: 20px;
	margin-right: 10px;
}

#trabajos {
	height: 400px;
	width: 100%;

	/* padding-top: 80px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.container {
	border-radius: 1.5rem;
	height: 400px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: black;
	padding: 1%;
	text-align: center;
}
.container a {
	text-decoration: none;
	color: black;
}

.container:nth-child(1) {
	background-image: url(/img/Casamiento/container.jpg);
	background-size: contain;
}
.container:nth-child(1) h2 {
	background: linear-gradient(
		0deg,
		rgba(214, 212, 217, 0.5) 0%,
		rgba(214, 212, 217, 0.5) 100%
	);
	height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 0.3rem;
}
.container:nth-child(2) {
	background-image: url(/img/Casamiento/container.jpg);
	background-size: contain;
}
.container:nth-child(3) {
	background-image: url(/img/Casamiento/container.jpg);
	background-size: contain;
}

.container:hover {
	height: 420px;
	width: 320px;
}

.muestras {
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#imagenes {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 100px;
}
#casamiento {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 40px;
}
#casamiento h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#casamiento h1 img {
	height: 30px;
	width: 30px;
}
.casamiento-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: 25px;
}

.casamiento-container img:nth-child(1) {
	height: 300px;
	width: 400px;
}
.casamiento-container img:nth-child(2) {
	height: 300px;
	width: 200px;
}
.casamiento-container img:nth-child(3) {
	height: 300px;
	width: 400px;
}
.casamiento-container img:nth-child(4) {
	height: 300px;
	width: 400px;
}
.casamiento-container img:nth-child(5) {
	height: 300px;
	width: 400px;
}
.casamiento-container img:nth-child(6) {
	height: 300px;
	width: 250px;
}
