* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	animation: fade 0.5s ease-in, slide-up 1s ease-in-out;
}
body {
	width: 100vw;
	background-color: rgb(253, 252, 238);
	display: flex;

	flex-direction: column;
	width: 100vw;
}
main {
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 25px;
	align-items: center;
}

header {
	width: 100vw;
	height: 60px;
	background: rgb(1, 1, 52);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 3;
}
header img {
	height: 80px;
	width: 150px;
}

.navbar {
	height: 80%;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
}
.navbar ul {
	display: flex;
	gap: 40px;
	color: white;
	list-style: none;
	font-size: 20px;
}

.navbar li {
	display: flex;
	cursor: pointer;
}
.navbar a {
	color: white;
	text-decoration: none;
}

.navbarlab,
#toggle-menu {
	display: none;
}

.image-label {
	color: white;
	cursor: pointer;
}

.men {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.im-me {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 10px;
	background: rgb(1, 1, 52);
	padding: 20px;
	display: none;
	top: 0px;
}
.im-me a {
	color: white;
	text-decoration: none;
}

#image-menu {
	display: none;
}
#image-menu:checked ~ .im-me {
	display: flex;
}
#login {
	height: 100vh;
	width: 100%;
	background-image: url(/img/Diseño-sin-titulo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.login-container {
	background: linear-gradient(0deg, #4a4a4a 0%, rgba(56, 55, 57, 0.5) 100%);
	border: 1px solid #0000004b;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	width: 30%;
	height: 50%;
	border-radius: 1.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	position: relative;
}

.login-send {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.login-send label:nth-child(1) {
	animation: izq-der 1s;
}
.login-send label:nth-child(2) {
	animation: izq-der 1.5s;
}

.login-send label:nth-child(3) {
	display: flex;
	font-size: 15px;
	animation: izq-der 2s;
}

.login-container a:nth-child(4) {
	text-decoration: none;
	color: rgb(29, 29, 29);
}

.login-container h1 {
	color: white;
}

.login-container a:nth-child(1) {
	text-decoration: none;
	color: rgb(29, 29, 29);
	font-size: 15px;
	margin: 20px 0;
}
#email {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 200px;
	border: none;
	background: none;
}
#email::placeholder {
	color: rgb(151, 151, 151);
}
#pass {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-top: 10px;
	background: none;
	border: none;
}

#pass::placeholder {
	color: rgb(151, 151, 151);
	/* content: "";
   background: white;
   top: -10px; */
	/* height: 0.1px; */
}

.login-container button {
	width: 150px;
	height: 30px;
	border: 1px solid black;
	border-radius: 1.2rem;
	animation: fade 5s;
	box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
.fondo {
	height: 100%;
	width: 100%;
}

.volver {
	position: absolute;
	left: -30px;
	top: 71%;
	font-size: 40px;
	background-color: rgb(155, 155, 169);
	height: 60px;
	width: 60px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	border: 2px solid white;
}
#hero {
	display: flex;
	align-items: center;
	width: 100vh;
	gap: 50px;
	margin: 50px 0;
}

.perfil img {
	animation: izq-der 2s;
}
.info {
	font-size: 20px;
	text-align: justify;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 45px;
}

.info i {
	font-size: 20px;
	margin-right: 10px;
}

#trabajos {
	height: 400px;
	width: 80%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.container {
	border-radius: 1.5rem;
	height: 400px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: black;
	padding: 1%;
	text-align: center;
}
.container a {
	text-decoration: none;
	color: black;
}

.container h2 {
	background: linear-gradient(
		0deg,
		rgba(214, 212, 217, 0.5) 0%,
		rgba(214, 212, 217, 0.5) 100%
	);
	height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 0.3rem;
}
.container:nth-child(1) {
	background-image: url(/img/Casamiento/container.jpg);
	background-size: cover;
	animation: izq-der 2s;
}

.container:nth-child(2) {
	background-image: url(/img/Books-15/quince.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	animation: scale 2s;
}
.container:nth-child(3) {
	background-image: url(/img/FIESTA/Fiesta.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80%;
	animation: der-izq 2s;
}

.container:hover {
	height: 420px;
	width: 320px;
}

.muestras {
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
#imagenes {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin-top: 100px;
	gap: 20px;
}

#imagenes button {
	height: 40px;
	width: 120px;
	font-size: 12px;
	background: none;
	border: none;
	border-bottom: 1px solid blue;
	cursor: pointer;
}
#imagenes {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-top: 100px;
}
#casamiento {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 40px;
}
#casamiento h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#casamiento h1 img {
	height: 50px;
	width: 50px;
}

.casamiento-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	gap: 25px;
}

.casamiento-container img:nth-child(1) {
	height: 400px;
	width: 500px;
}
.casamiento-container img:nth-child(2) {
	height: 400px;
	width: 250px;
}
.casamiento-container img:nth-child(3) {
	height: 400px;
	width: 400px;
}
.casamiento-container img:nth-child(4) {
	height: 400px;
	width: 500px;
}
.casamiento-container img:nth-child(5) {
	height: 400px;
	width: 400px;
}
.casamiento-container img:nth-child(6) {
	height: 400px;
	width: 250px;
}

#book15 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 40px;
}
#book15 h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
#book15 h1 img {
	height: 50px;
	width: 50px;
}
.book-container {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	gap: 25px;
}

.book-container img:nth-child(1) {
	height: 350px;
	width: 400px;
}
.book-container img:nth-child(2) {
	height: 350px;
	width: 310px;
}

.book-container img:nth-child(3) {
	height: 350px;
	width: 280px;
}
.book-container img:nth-child(4) {
	height: 350px;
	width: 300px;
}
.book-container img:nth-child(5) {
	height: 350px;
	width: 280px;
}
.book-container img:nth-child(6) {
	height: 350px;
	width: 270px;
}

#fest {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 40px;
}
#fest h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#fest h1 img {
	height: 50px;
	width: 80px;
}
.fest-container {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	gap: 25px;
}

.fest-container img:nth-child(1) {
	height: 350px;
	width: 310px;
}
.fest-container img:nth-child(2) {
	height: 350px;
	width: 480px;
}
.fest-container img:nth-child(3) {
	height: 350px;
	width: 250px;
}
.fest-container img:nth-child(4) {
	height: 350px;
	width: 320px;
}

.fest-container img:nth-child(6) {
	height: 350px;
	width: 300px;
}

.fest-container img:nth-child(5) {
	height: 350px;
	width: 400px;
}

#beneficio {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
}
.con-b {
	height: 550px;
	width: 1000px;

	position: relative;
	top: 0px;
}

.container-ben {
	width: 250px;
	height: 250px;
	border: 2px solid black;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgb(0, 0, 0);

	border-radius: 1rem;
}

.ben1 {
	position: absolute;
	left: 100px;
	top: 80px;
	animation: derben 4s forwards;
	background: black;
}
.ben1 h1 {
	animation: fade 0.5s ease-in, slide-up 4s ease-in-out;
}

.ben2 {
	position: absolute;
	top: 50px;
	left: 320px;
	animation: derben 4s forwards;
	animation-delay: 0.5s;
	background: black;
}
.ben2 h1 {
	animation: fade 0.5s ease-in, slide-up 4.5s ease-in-out;
}
.ben3 {
	position: absolute;
	top: 220px;
	left: 400px;
	animation: derben 4s forwards;
	animation-delay: 2s;
	background: black;
}
.ben3 h1 {
	animation: fade 0.5s ease-in, slide-up 6s ease-in-out;
}

.ben4 {
	position: absolute;
	top: 60px;
	animation: derben 4s forwards;
	animation-delay: 1s;

	left: 580px;
	background: black;
}
.ben4 h1 {
	animation: fade 0.5s ease-in, slide-up 5s ease-in-out;
}
.ben5 {
	position: absolute;
	top: 250px;
	animation: derben 4s forwards;
	animation-delay: 2.5s;

	left: 640px;
	background: black;
}
.ben5 h1 {
	animation: fade 0.5s ease-in, slide-up 7.5s ease-in-out;
}
.ben6 {
	position: absolute;
	top: 280px;
	left: 160px;
	animation: derben 4s forwards;
	animation-delay: 1.5s;
	background: black;
}
.ben6 h1 {
	animation: fade 0.5s ease-in, slide-up 5.5s ease-in-out;
}

.container-ben p {
	display: none;
}

.container-ben:hover {
	z-index: 2;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
	border: 3px solid black;
}
.container-ben:hover h1 {
	display: none;
}
.container-ben:hover p {
	display: flex;
	padding: 40px;
	font-size: 20px;
	color: black;
	text-align: center;
	animation: fade 0.5s ease-in;
}

footer {
	width: 100vw;
}
.contacto {
	display: flex;
	width: 100%;
	justify-content: center;
}
.contactame {
	width: 40%;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: end;
	padding: 40px;
	background: rgb(1, 1, 52);
	color: white;
}
.datos {
	width: 60%;
	height: 100px;

	display: flex;
	align-items: start;
	justify-content: space-around;
	flex-direction: column;
	padding-left: 40px;
	background: rgb(1, 1, 52);
}

.datos a {
	color: white;
	text-decoration: none;
}
.datos i {
	margin-right: 5px;
}
